---
import SpeedInsights from '@vercel/speed-insights/astro';
import { AstroFont } from 'astro-font';

interface Props {
	title: string;
	siteName: string;
	siteDescription: string;
}

const { title, siteName, siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="canonical" href={Astro.url} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org/",
				"@type": "Person",
				"name": "Carlos Díaz",
				"url": "https://linkmetal.dev",
				"image": "https://www.linkmetal.dev/assets/img/me.webp",
				"sameAs": [
					"https://github.com/Linkmetal",
					"https://www.linkedin.com/in/cardifal/"
				],
				"jobTitle": "Senior Frontend Developer"
			}
		</script>
		<meta name="description" content={siteDescription} />
		<meta
			name="keywords"
			content="Developer, Frontend, Sofware, Development, Backend, React, CSS, Next.js, React Native, Typescript, Software Development, Frontend Development, Spain, Canary Islands, Tenerife, Linkmetal, Carlos Diaz"
		/>
		<meta name="author" content="Carlos Diaz (Linkmetal)" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={"https://www.linkmetal.dev"} />

		<meta property="og:image" content="/assets/img/og-image.png" />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={siteDescription} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<AstroFont
			config={[
				{
					src: [],
					name: "Sora",
					preload: false,
					display: "swap",
					fallback: "sans-serif",
					selector: ".font-sora",
					googleFontsURL:
						"https://fonts.googleapis.com/css2?family=Sora:wght@100..800",
				},
			]}
		/>
	</head>
	<body>
		<div
			class="bg-indigo-300 bg-horizonAnimated bg-cover bg-scroll bg-center bg-no-repeat"
		>
			<div
				class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5"
			>
				<slot />
			</div>
		</div>
		<SpeedInsights />
	</body>
</html>
